<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.注解驱动-->
    <mvc:annotation-driven/>
    <!--2.静态资源过滤-->
    <mvc:default-servlet-handler/>
    <!--3扫描包 controller-->
    <context:component-scan base-package="com.bjpowernode.web.controller"/>
    <context:component-scan base-package="com.bjpowernode.settings.web.controller"/>
    <context:component-scan base-package="com.bjpowernode.workbench.web.controller"/>

    <!--4.视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--拦截器配置-->
       <mvc:interceptors>
           <mvc:interceptor>
<!--               拦截/settings和/workbench开头的所有controller请求-->
               <mvc:mapping path="/settings/**"/>
               <mvc:mapping path="/workbench/**"/>
<!--               不拦截首页和登录请求-->
               <mvc:exclude-mapping path="/settings/qx/user/toLogin.do"/>
               <mvc:exclude-mapping path="/settings/qx/user/login.do"/>
               <bean class="com.bjpowernode.settings.web.interceptor.LoginInterceptor"/>
           </mvc:interceptor>
       </mvc:interceptors>
</beans>
