# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\动力节点crm项目学习（ssm框架）\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
